<div class="d-flex justify-content-center">
    <div class="text-center">
        <h3>
            Đơn hàng đã được lưu. <br />Cảm ơn bạn đã đặt hàng!<br />
        </h3>
        <p><a asp-controller="Home" asp-action="Index" class="link-dark">Quay lại trang chủ</a></p>
    </div>
    

</div>